// Create List

.createList {
  @include flex-container;
  height: 518px;

  .listing-form {
    @include flex-container;
    max-width: 80%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: $box-shadow;

    .createForm {
      @include flex-container($direction: row);
      position: relative;
      flex-wrap: wrap;

      p {
        margin: 0 1rem;

        label {
          display: block;
          font: {
            size: 14px;
            weight: bold;
          };
        }

        select {
          padding: 10px;
        }

        input[type="text"],
        input[type="url"],
        input[type="number"],
        select {
          width: 30rem;
          height: 2rem;
          text-indent: 5px;
          padding: auto;
          box-sizing: border-box;
        }

        textarea {
          height: 100px;
          width: 50rem;
          padding: 10px;
        }
      }
    }

    .createBtn {
      width: 200px;
      padding: 10px;
      background-color: #11009e;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #080145;
      }
    }
  }
}