// _partials/_form.scss
@mixin form-container {
     @include flex-container;
     @include height-width(100%, 500px);
     margin: auto;
     background-color: $background-color;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px $shadow-color;
     max-width: 100%;
   }
   
   @mixin input-submit {
     @include button-styles;
     background-color: $success-color;
     color: #fff;
   }
   
   @mixin input-text {
     width: 100%;
     padding: auto;
     box-sizing: border-box;
   }
   
   @mixin form-styles {
     display: flex;
     flex-direction: column;
   }