// Colors
$primary-color: #0d1282;
$secondary-color: #ff731d;
$accent-color: #11009e;
$success-color: #11009e;
$background-color: #fff;
// $button-bg-color: #4caf50;
$button-bg-color: #fff;
$logo-name-color: #931A25;
$nav-item-color: #fff;

// Box Shadow
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$card-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.12),
0px 1px 2px 0px rgba(0, 0, 0, 0.24);

// Fonts
$font-primary: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$font-secondary: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
